[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ptpython = "*"
v = {editable = true,version = "*"}
pylint = "*"
gensim = "*"
sklearn = "*"
nltk = "*"
biopython = "*"
tqdm = "*"

[packages]
flask = "*"
numpy = "*"
pandas = "*"
tensorflow = "*"
scipy = "*"
keras = "*"
flask-pymongo = "*"
gensim = "*"
nltk = "*"

[requires]
python_version = "3.6"
